<div>
    <table id="orderItemTable" class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>SrNo</th>
                <th>Date</th>
                <th>Party</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SrNo</th>
                <th>Date</th>
                <th>Party</th>
            </tr>
        </tfoot>
    </table>
</div>
